# Users should configure the fine_tune_checkpoint field in the train config as
# well as the label_map_path and input_path fields in the train_input_reader and
# eval_input_reader. Search for "PATH_TO_BE_CONFIGURED" to find the fields that
# should be configured.

tf_record_input_reader {
input_path: "PATH_TO_BE_CONFIGURED"
}
label_map_path: "PATH_TO_BE_CONFIGURED"

